NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_TELEGRAM_ID=6314294625
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.icjrhufmtqedmihjogco.supabase.co:5432/postgres?sslmode=require
