DATABASE_URL="postgresql://postgres:postgres@localhost:5432/choyxona?schema=public"
PORT=3001
FRONTEND_URL=http://localhost:3000
TELEGRAM_BOT_TOKEN=8973214144:AAEgVDPaptqRy-kB92-_QyNv-Im3N_UTcRc
OPERATOR_CHAT_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
